
.section{
    min-height: 100vh;
    margin-top: 30px;
    margin-bottom: 200px;
  
    
}

.grid-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card{
  flex: 0 1 calc(25% - 1em);
  margin-bottom: 30px;
}