.list-section {
    height: auto;
    display: flex;
    flex-direction: column; 
    margin-bottom: 40px;
  }

  
  
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 30px;
    background-color: #e2e2e2;
    transition: background-color 0.3s ease;
  }
  
  h3{
    font-weight: 300;
  }

  
  .btn-green {
    background-color:#5FC39C ;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }

  .btn-green:hover {
    background-color: #499b7c;
  }
  
  .btn-yellow {
    background-color:#EEF291;
    color: rgb(35, 35, 35);
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }

  .btn-yellow:hover {
    background-color: #cacd78;
  }
  
  .btn-purple {
    background-color:#C197EC;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  .btn-purple:hover {
    background-color:#a57dcd;
  }
  
  .btn{
    background: black;
    color: #E8E8E8;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
  }
  